<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Awesome Calculator!</span>
  </div>
</nav>

<div class="container">

<h1>Sum</h1>

<form action="/sum/result">
    <input type="number" class="btn btn-primary" name="x" placeholder="number 1">
    <input type="number" class="btn btn-primary" name="y" placeholder="number 2">
    <button class="btn btn-secondary" type="submit">Calculate now!</button>

</form>

</div>
</body>
</html>